<div class="section team-carousel" id="carousel">
    <div class="container">
        <div class="tim-title">
            <h3>Our Team</h3>
        </div>
        <div class="page-carousel col-md-7 ml-auto mr-auto">
            <ngb-carousel>
                <ng-template ngbSlide #teamImg>
                    <div class="teamImg"> 
                        <img src="./assets/img/teamPic1.jpg" alt="Team gatherings">
                        <div class="carousel-caption team-carousel-caption">
                            <p>Team Gatherings . . .</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide #teamImg>
                    <div class="teamImg"> 
                        <img src="./assets/img/teamPic2.jpg" alt="Presenting sertum">
                        <div class="carousel-caption team-carousel-caption mt-auto mb-auto">
                            <p>Our Team presenting Sertum Robot in an exhibition . . .</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide #teamImg>
                    <div class="teamImg"> 
                        <img src="./assets/img/teamPic3.jpg" alt="Team working">
                        <div class="carousel-caption team-carousel-caption">
                            <p>Team working on a website . . .</p>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
