<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">codeJunction</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Think | Search | Build</h2>
            </div>
        </div>
    </div>
    <div class="main">
        <app-our-work></app-our-work>
        <team-members></team-members>
        <app-tech-blog></app-tech-blog>
        <app-our-team></app-our-team>
    </div>
</div>
