<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">codeJunction</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Think | Search | Build</h2>
            </div>
        </div>
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>
      <div class="section">
          <div class="container">

              <div class="row">
                  <div class="col-md-6">


                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <ngb-tabset [justify]="'center'">
                                  <ngb-tab title="Home">
                                      <ng-template ngbTabContent>
                                          <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                                      </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="Profile">
                                      <ng-template ngbTabContent>
                                          <p>Here is your profile.</p>
                                      </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="Messages">
                                      <ng-template ngbTabContent>
                                          <p>Here are your messages.</p>
                                      </ng-template>
                                  </ngb-tab>
                              </ngb-tabset>
                          </div>
                      </div>

                  </div>-->

                  <div class="col-md-6">
                      <div class="tim-title">
<!--                          <h3>Labels</h3>-->
                      </div>
                      <!--<span class="label label-default">Default</span>
                      <span class="label label-primary">Primary</span>
                      <span class="label label-info">Info</span>
                      <span class="label label-success">Success</span>
                      <span class="label label-warning">Warning</span>
                      <span class="label label-danger">Danger</span>-->
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-notifications" id="notifications">
          <div class="container">
              <div class="tim-title">
<!--                  <h3>Notification</h3>-->
              </div>
          </div>
<!--          <app-notification></app-notification>-->
      </div>
      <team-members></team-members>
      <app-carousel></app-carousel>
      <div class="section javascript-components">

      </div>
    </div>
</div>
