<div class="section">
    <div class="container">
        <h2 class="title">Our Work</h2>
        <ngx-slick-carousel class="carousel project" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let project of projects" class="slide card">
                <a  (click)="showProjectCard({
                                        image:project.image,
                                        description: project.largeDescription,
                                        name: project.projectName,
                                        github: project.github|| null})">
                    <img class="card-img-top" src="assets/img/work/{{project.image}}" alt="Project Image">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{project.projectName}}
                                <i *ngIf="project.isWeb" class="fa fa-globe" aria-hidden="true"
                                    style="padding-left:10px;"></i></b>
                        </h5>
                        <p class="card-text">{{project.description}}</p>
                    </div>
                </a>
            </div>
        </ngx-slick-carousel>
    </div>
</div>